.container {
    --width: 1100px;
    --max-width: 95%;
    --navbar-height: 62px;
}
.navbar {
    display: flex;
    align-items: center;
    background-color: var(--background-primary);
    border-bottom: 1px solid var(--border-primary-color);
    position: fixed;
    height: var(--navbar-height);
    width: 100%;
    top: 0;
    z-index: 14;
}
.navbar-content {
    justify-content: space-between;
    max-width: 90%;
}
.navbar-content, .navbar-options {
    display: flex;
    align-items: center;
    position: relative;
}
.navbar-item {
    padding: var(--spacing-primary) 0;
    margin:  0 var(--spacing-primary);
    cursor: pointer;
    color: var(--color-secondary);
    transition: color .2s;
    position: relative;

    &.active, &:hover {
        color: var(--color-primary);
    }
    &:first-child {
        margin-left: 0;
    }
}
.coming-soon {
    font-weight: 600;
    font-size: 9px;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    right: -20px;
    white-space: nowrap;
}
.stripe {
    height: 2px;
    background-color: var(--color-secondary);
    border-radius: 120px;
    position: absolute;
    transition: left .3s, width .3s, top .3s;
}
.mobile-navbar-items {
    .ham-button {
        cursor: pointer;
        padding: 7px;
        margin-left: -7px;
    }
    svg {
        height: 20px;
        display: block;
        fill: var(--color-primary);
    }
}
.mobile-navbar-item-container {
    position: fixed;
    top: var(--navbar-height);
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: var(--background-primary);
    text-align: center;
    transition: left .3s ease;

    &.active {
        left: 0;
    }

    .navbar-item {
        margin: 0;
    }
    .coming-soon {
        position: relative;
        top: -30px;
        right: -35px;
    }
}

.main, .navbar-content {
    width: var(--width);
    max-width: var(--max-width);
    margin: 0 auto;
}
.main {
    padding-top: var(--navbar-height);
}
.user-dropdown {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 10px;
    margin-right: -10px;
    border-radius: var(--border-radius);
    transition: background-color .2s;

    &:hover {
        background-color: var(--background-tertiary);
    }
}
.avatar {
    margin-right: 10px;
    height: 28px;
    width: 28px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}