.container {
    position: relative;
    width: 1000px;
    max-width: 100%;
}
.footer {
    margin-top: var(--modal-padding);
    padding: var(--modal-padding);
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.button {
    margin-left: calc(var(--modal-padding) * 2);
    margin-right: calc(-1 * var(--modal-padding));
}