.svg {
    height: 100%;
	max-width: 10rem;
	animation: rotate 3.6s linear infinite;
}

.circle {
	fill: none;
	stroke: #fff;
	stroke-width: 14px;
	stroke-dasharray: 300;
	animation: outline 2s cubic-bezier(0.77,0,0.18,1) infinite;
}

@keyframes outline {
	0% {
		stroke-dashoffset: -50;
	}
	50% {
		stroke-dashoffset: 250;
	}
	100% {
		stroke-dashoffset: 550;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0turn);
	}
	to {
		transform: rotate(-1turn);
	}
}