.links-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links-header-text {
    font-size: 17px;
    font-weight: 500;
}
.links-header-main {
    display: flex;
    gap: var(--spacing-primary);
    padding: var(--spacing-primary) 0;

    &>div {
        width: 200px;
        font-size: 15px;
    }
}
.add-item-button {
    height: 46px;
}
.link {
    padding: var(--spacing-primary);
    background-color: var(--background-primary);
    border-radius: var(--border-radius-primary);
    margin-bottom: var(--spacing-primary);
    border: 1px solid var(--border-primary-color);
}
.link-content {
    margin-bottom: 10px;
}
.link-input {
    input {
        padding: 3px 0 !important;
        background-color: transparent !important;
        font-size: 17px !important;
    }
}
.link-url {
    .link-input input {
        color: var(--text-muted);
        font-size: 15px !important;
    }
}