:root {
  --background-primary: #fff;
  --background-secondary: #F1F1F1;
  --background-tertiary: #EAEAEA;
  --background-banner: #dfdfdf;
  --background-avatar: #dfdfdf;
  --color-primary: #616161;
  --button-danger: #ff4846;
  --button-danger-hover: #ff2220;
  --button-primary: #7635d9;
  --button-primary-hover: #672ac3;
  --button-secondary: #EAEAEA;
  --button-secondary-hover: #d7d7d7;
  --popup-background-primary: #fff;
  --popup-background-secondary: #F1F1F1;
  --popup-background-tertiary: #EAEAEA;
  --modal-background-primary: #fff;
  --modal-padding: 10px;
  --spacing-primary: 20px;
  --border-radius-primary: 12px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--background-secondary);
  color: var(--color-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
