.main {
    text-align: center;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    font-weight: 500;
    font-size: 42px;
}
.input-container {
    width: 720px;
    max-width: 95%;
    height: 57px;
    background-color: var(--background-primary);
    display: flex;
    align-items: center;
    padding-left: var(--spacing-primary);
    border-radius: var(--border-radius-primary);
    overflow: hidden;
    font-size: 20px;
}
.input-suffix {
    display: block;
    margin-top: -3px;
}
.input {
    border: none;
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 20px;
    color: var(--text-primary);
}
.placeholder-container {
    position: relative;
    height: 100%;
    flex: 1;
}
.input-placeholder {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -2px;
    pointer-events: none;
    color: var(--color-secondary);
}
.pivot {
    animation: pivot-in-out .5s infinite alternate;
}
@keyframes pivot-in-out {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.preview-connector {
    --connector-rounded-width: 75px;
    --connector-rounded-height: 30px;
    --connector-extensions-height: 30px;
    --connector-width: 15px;
    --connector-height: 150px;

    height: var(--connector-height);
    width: var(--connector-width);
    background-color: var(--background-primary);
    position: relative;
}
.connector-top, .connector-bottom {
    position: absolute;
    transform: translateX(calc(var(--connector-rounded-width) * -1 / 2 + var(--connector-width) / 2));
    width: var(--connector-rounded-+width);
    height: var(--connector-rounded-height);
    margin: 0 auto;
    background-color: var(--background-primary);

    &:before, &::after {
        content: '';
        background-color: var(--background-secondary);
        width: var(--connector-extensions-height);
        height: var(--connector-extensions-height);
        position: absolute;
    }
    &:before {
        right: calc(100% - var(--connector-rounded-height));
    }
    &::after {
        left: calc(100% - var(--connector-rounded-height));
    }
}
.connector-top {
    top: 0;

    &:before {
        border-top-right-radius: 120px;
    }
    &::after {
        border-top-left-radius: 120px;
    }
}
.connector-bottom {
    bottom: 0;

    &::before {
        border-bottom-right-radius: 120px;
    }
    &::after {
        border-bottom-left-radius: 120px;
    }
}

.preview-screen {
    --spacing: calc(var(--spacing-primary) * 3);
    --item-width: calc(100% - var(--spacing));
    --item-height: calc(100% - var(--spacing) * 1.1);

    background-color: var(--background-primary);
    border-radius: var(--border-radius-primary);
    width: 900px;
    max-width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing) var(--spacing-primary);
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -50px;
        z-index: 0-1;
        border: 80px solid var(--background-primary);
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
    }
}
// Is ipad
@media only screen and (max-width: 700px) {
    .preview-screen::after {
        bottom: calc(var(--spacing-primary) / 2 - 5px);
        z-index: 5;
        border: none;
        width: 20px;
        height: 20px;
        background-color: rgba(0,0,0,.2);
        border-radius: 50%;
    }
}
// Is mobile
@media only screen and (max-width: 500px) {
    .preview-screen::after {
        bottom: calc(var(--spacing) - var(--spacing-primary));
        height: 4px;
        width: 120px;
        border-radius: 120px;
        background-color: var(--background-primary);
    }
}
.preview-screen-top-buttons {
    position: absolute;
    top: calc(var(--spacing-primary) / 2);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    height: 13px;

    &::after {
        content: '';
        display: block;
        background-color: rgba(0,0,0,.2);
        border-radius: 120px;
        width: 40px;
    }
    &:before {
        content: '';
        background-color: rgba(0,0,0,.2);
        width: 13px;
        border-radius: 50%;
        display: block;
    }
}
.preview-background {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--item-width);
    height: var(--item-height);
    border-radius: var(--border-radius-primary);
    background: linear-gradient(90deg, rgba(84,9,121,1) 0%, rgba(175,0,255,1) 100%);
}
.preview-header {
    background-color: var(--background-primary);
    border-radius: var(--border-radius-primary);
    width: var(--item-width);
    overflow: hidden;
    height: 180px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.preview-banner {
    background-color: var(--background-secondary);
    width: 100%;
    height: 90px;
    display: block;
    z-index: 2;
}
.preview-avatar {
    background-color: var(--background-primary);
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    margin-top: -55px;
    z-index: 5;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preview-avatar-img {
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background-size: contain;
}
.preview-username {
    margin: 0;
    padding-bottom: var(--spacing-primary);
    font-size: 24px;
    font-weight: 600;
}
.preview-item {
    background-color: var(--background-primary);
    height: 58px;
    width: var(--item-width);
    border-radius: var(--border-radius-primary);
    display: block;
    z-index: 2;
    margin-top: var(--spacing-primary);
    animation: preview-item forwards .6s;
    opacity: 0;
}
@keyframes preview-item {
    from {
        opacity: 0;
        transform: translateY(25px) scale(.95);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}