.form {
    margin: 0;
    width: 100%;

    input, textarea {
        padding: 12px; 
        border-radius: var(--border-radius);
        border: none;
        background-color: var(--background-tertiary);
        width: 100%;
        font-size: 18px;
        outline: none;
        font-family: unset;
    }
    textarea {
        min-height: 50px;
    }
}
.label {
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
    font-size: 14px;
}