.container {
    width: 900px;
    max-width: 95%;
    margin: 0 auto;
    padding-top: 40px;
}
.banner {
    --br: var(--border-radius-primary);

    position: relative;
    height: 270px;
    border-radius: var(--br) var(--br) 0 0;
    overflow: hidden;
}
.avatar {
    height: 159px;
    width: 159px;
    background-color: var(--background-primary);
    z-index: 14;
    border-radius: 50%;
    position: relative;
    padding: 15px;
}
.avatar-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: calc(-110px - var(--spacing-primary));
    background-color: var(--background-primary);
    padding: var(--spacing-primary) 0;
    border-radius: var(--border-radius-primary);
}
.no-banner .header-content {
    margin-top: 0;
}
.header-name {
    font-size: 28px;
    font-weight: 600;
}
.header-bio {
    margin-top: 8px;
    font-size: 16px;
    display: block;
}

.item-container {
    margin-top: var(--spacing-primary);
}
.item {
    padding: var(--spacing-primary);
    background-color: var(--background-primary);
    margin: calc(var(--spacing-primary) / 1.5) 0;
    border-radius: var(--border-radius-primary);
    text-align: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    transition: transform .2s, box-shadow .2s;

    &:hover {
        transform: translateY(-4px);
        box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px 0px;
    }
}
.item-icon {
    height: 30px;
    width: 30px;
    position: absolute;
}
.item-text {
    margin: 0 auto;
    padding: 0 30px;
    font-weight: 500;
}